$padding-primary: 56px;

.wapper {
  height: 100%;
  position: relative;
  color: #fff;
  object-fit: cover;
}

.content {
  margin-left: 64px;
  padding-top: 152px;
}

.button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 0.2vw;
  font-weight: 700;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
  transition: all 0.25s ease-in-out;

  &:hover {
    color: #000;
    background-color: #e6e6e6;
  }
}

.description {
  width: 45rem;
  line-height: 1.6;
  padding-top: 1rem;
  font-size: 1rem;
  max-width: 400px;
  height: 180px;
}

.overlayBottom {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 7.4rem;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.6),
    #111
  );
}
